*{
  list-style: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-color: rgb(85, 85, 85);
  color:white;
  background-image: none;
  font-weight: 500;
  letter-spacing: 0.2px;
}

select {
  flex: 1;
  color: #fff;
  cursor: pointer;
  padding: 6px 32px 6px 16px;
  font-size: 16px;
}

.select {
  display: none;
}

.App {
  text-align: center;
}

.today_info_group {
  padding-top: 63px;
  margin-bottom: 30px;
  letter-spacing: -0.024em;
}
.app-right {
  box-sizing: border-box;
  position: relative;
  height:50%;
  width: 100%;
  display: table;
  clear: both;
}

.leaflet-bottom {
  padding-bottom: 20px;
  position: fixed;
  float: right;
}
.leaflet-div-icon {
  background: transparent;
  border: none;
}

.leaflet-control-attribution {
  display: none;
}

.app-content {
  width: 1180px;
  margin: 0 auto;
}

.popup {
  margin: 0; padding: 0 0 5px; line-height: 1.2;
}

.popup h1 {
  font-size: 14px;
}

.popup p{
  margin: 0!important; line-height: 1.5;
}

.left-list{
  display: flex;
  flex-direction: column;
  top: 6em;
  margin-left: 2em;
  position: fixed;
  background-color: white;
  padding: 1em 2em;
  border-radius: 10px;
  width: 20vw;
  min-width: 284px;
  z-index: 500;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); 
}

.header-value {
  display: block;
}


.info-box {
  margin: 4em 0;
  padding: 1em 2em;
  border-radius: 10px;
  width: 20vw;
  min-width: 284px;
  // z-index: 401;
  z-index: 9999;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); 
}
.info-box p{
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

.info-box small:first-child {
  margin: 0.5em 0 0 0;
}

.info-box small{
  margin: 0;
  padding: 0; 
  line-height: 1.5; 
  width: 100%;
}

.m_tit_sub {
    position: relative;
    display: block;
    padding-left: 0;
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 700;
    color: #333;
    letter-spacing: -0.05em;
}

#choices_desktop {
  position: relative;
  top:1em;
  left:0;
  right: 0;
  margin: auto;
  padding: 0;
  line-height: 1;
  width: fit-content;
  background: transparent;
}

#choices_desktop ul {
  list-style-type: none;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 0;
}

#choices_desktop ul li {
  padding: 8px 12px;
  margin: 3px;
  background-color: rgb(43, 43, 43);
  font-size: 13px;
  min-width: 65px;
  text-align: center;
  cursor: pointer;
}

#choices_desktop ul li {
  border-radius: 8px;
}

#choices_desktop ul li.active {
  background-color: rgb(85, 85, 85);
  color:white;
}

#total {
  position: absolute;
  bottom: 1.2rem;
  left: 1.2rem;
  z-index: 999;
  width: 300px;
}

.app-content {
  display: block;
}

#total p{
  display: flex;
  align-items: center;
  flex-direction: row;
}

#total b{
  width: 100%;
  padding-right: 1em;
}

#total .update-date {
  font-size: 10px;
  display: block;
  padding-right: 0px;
  text-align: right;
}

#total span {
  font-size: 22px;
}

#total small{
  font-style: italic;
  font-size: 11px;
  text-align: justify;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip, .info-box {
  background-color: #2b2b2b!important;
  color:#ffffff99!important;
  width: 205px;
}

@media screen and (max-width:767px){

  .m_tit_sub {
    font-size: 18px;
  }

  #total {
    display: none;
  }

  .select {
    position: relative;
    display: flex;
    align-items:center;
    width: 100%;
    overflow: hidden;
    padding-top : 2em;
  }

  .select:before {
    content: "";
    width: 100%;
    position: absolute;
    height: 2px;
    background: dimgrey;
    top: 15px;
    margin: 0px;
    border-radius: 10px;
  }

  .select label {
    font-size: 14px;
  }
  
  #select {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .select svg {
    position: absolute;
    right: 0.5em;
    pointer-events: none;
  }

  #total {
    margin: auto;
    width: 70%;
  }

  #total span {
    font-size: 18px;
  }

  #total p{
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  #total b{
    width: 100%;
  }

  .leaflet-bottom {
    margin-bottom: 1.3em;
  }

}

.leaflet-bar a, .leaflet-bar a:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: rgb(43, 43, 43)!important; 
  color:#ffffff99!important;
}

.leaflet-bar a:first-child {
  border-bottom: 1px solid black!important;
}

a {
  color: grey;
  text-decoration: none;
}

a:visited {
  color: grey;
}

@media screen and (min-width: 1197px) {
    
  .app-right {
      overflow: hidden;
  }

  .status_infoArea {
      width: 100%;
      display: table;
      margin-top: 0;
      min-height: 520px;
  }

  .leaflet-container {
      position: absolute;
      background-color: #07002c;
      width: 50%;
      height: 100%;
      margin-top: 17px;
  }
  
  .status_infoArea > div {
      display: table-cell;
      width: 50%;
  }
  
  .status_infoArea > div:nth-child(2) {
      width: 50%;
      padding-left: 40px;
      margin-right: 40px;
  }

}
@media screen and (max-width:1196px) {

  .app-content{
      width: 100%;
      padding: 0 2% 0 2%;
  }

  .leaflet-container {
      /* display: initial; */
      position: absolute;
      overflow: hidden;
      background-color: #07002c;
      width: 390px;
      height: 100%;
      margin-top: 17px;
  }

  .status_infoArea > div {
      width: 100%;
      padding: 20px 0 0;
      /* min-height: auto; */
      display:table;
  }

  .status_infoArea > div:nth-child(2) {
      width: 100%;
  }

  .status_infoArea .leafletMap {
      position: absolute;
      width: 360px;
      left: 50%;
      height: 100%;
      transform: translateX(-50%);
  }
  
}


.today_info_group {
  padding-top: 63px;
  margin-bottom: 30px;
}

.today_info_list {
  box-shadow: 0 7px 6px #E7E5EC;
  border: 1px solid #C6CBD8;
  border-radius: 8px;
  background: #fff;
}

.today_info_list:after {
  content: '';
  clear: both;
  display: block;
}

.today_info_list > li {
  float: left;
  width: 27%;
  position: relative;
}

.today_info_list > li:first-of-type {
  width: 19%;
}

.today_info_list > li .tit {
  position: absolute;
  left: 50%;
  top: -48px;
  transform: translateX(-50%);
  width: calc(100% - 8px);
  height: 40px;
  border-radius: 8px;
  background: #DAD7E0;
  text-align: center;
  display: inline-block;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.today_info_list > li:nth-of-type(1) .tit {
  left: 0;
  transform: translateX(0);
  width: calc(100% - 4px);
  background: #DAD7E0;
  color: #444;
}

.today_info_list > li:nth-of-type(2) .tit {
  background: #438EAF;
}

.today_info_list > li:nth-of-type(3) .tit {
  background: #2D7CA9;
}

.today_info_list > li:nth-of-type(4) .tit {
  left: inherit;
  right: 0;
  transform: translateX(0);
  width: calc(100% - 4px);
  background: #166AA2;
}

.today_info_list .inner > li {
  padding: 20px 5px;
  text-align: center;
  font-size: 15px;
  color: #222;
  font-weight: 600;
  position: relative;
}

.today_info_list > li:first-of-type .inner > li {
  font-size: 16px;
  line-height: 20px;
}

.today_info_list .inner > li:nth-of-type(2) {
  background: #F4F3FA;
  color: #EB7520;
}

.today_info_list > li:first-of-type .inner > :nth-of-type(2) {
  color: #222;
}

.today_info_list > li:first-of-type li {
  background: #F4F3FA;
}

.today_info_list > li:first-of-type li:nth-of-type(2) {
  background: #E7E6F2;
}

.today_info_list > li:first-of-type li:first-of-type {
  border-top-left-radius: 8px;
}

.today_info_list > li:first-of-type li:last-of-type {
  border-bottom-left-radius: 8px;
}

.today_info_list > li:nth-of-type(3) .inner li:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 15px;
  background: #C6CBD8;
}
.today_info_list > li:nth-of-type(3) .inner li:before {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 15px;
  background: #C6CBD8;
}

.today_info_list > li:last-of-type li:first-of-type {
  border-top-right-radius: 8px;
}

.today_info_list > li:last-of-type li:last-of-type {
  border-bottom-right-radius: 8px;
}

@media (max-width:500px) {

  .today_info_list > li .tit {
      font-size: 15px;
      height: 36px;
      line-height: 36px;
      width: calc(100% - 4px);
      top: -43px;
  }

  .today_info_list > li:nth-of-type(1) .tit,
  .today_info_list > li:nth-of-type(4) .tit {
      width: calc(100% - 2px);
  }

  .today_info_list > li:first-of-type .inner > li {
      font-size: 15px;
      line-height: 16px;
  }

  .today_info_list .inner > li {
      font-size: 16px;
      padding: 25px 0;
  }

}

@media (max-width:370px) {

  .today_info_list > li .tit {
      font-size: 13px;
      height: 36px;
      line-height: 36px;
  }

  .today_info_list > li:first-of-type .inner > li {
      font-size: 13px;
      line-height: 14px;
  }

  .today_info_list .inner > li {
      font-size: 14px;
  }
  
}