#footer {
    h2 {
        margin-bottom: 1em;
        font-size: 1.75em;
    }

    margin-top: 40px;
    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    button,
    .button {
        background-color: #5a5a5a;
        color: #ffffff !important;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        border-radius: 0;
        border: 0;
        cursor: pointer;
        display: inline-block;
        font-size: .8em;
        font-weight: 700;
        height: 3.5em;
        line-height: 3.65em;
        padding: 0 2.25em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
    }

    span, p, a, ol, ul, li, form, label, header {
        border: 0;
        padding: 0px;
        font-size: 100%;
    }
    input[type="submit"].alt, #footer input[type="reset"].alt, #footer input[type="button"].alt, #footer button.alt, #footer .button.alt {
        background-color: transparent;
        box-shadow: inset 0 0 0 2px #fff;
        color: #ffffff !important;
    }
    /* Form */

    form {
        margin: 0 0 2em;
    }

    form .field {
        margin: 0 0 2em;
    }

    form .field.half {
        width: 50%;
        float: left;
        padding: 0 0 0 1em;
    }

    form .field.half.first {
        padding: 0 1em 0 0;
    }

    form > .actions {
        margin: 2.5em 0 0 0 !important;
    }

    @media screen and (max-width: 736px) {

        form .field {
            margin: 0 0 1.5em;
        }

        form .field.half {
            padding: 0 0 0 0.75em;
        }

        form .field.half.first {
            padding: 0 0.75em 0 0;
        }

        form > .actions {
            margin: 2em 0 0 0 !important;
        }

    }

    @media screen and (max-width: 480px) {

        form .field.half {
            width: 100%;
            float: none;
            padding: 0;
        }

        form .field.half.first {
            padding: 0;
        }

    }

    label {
        display: block;
        font-size: 0.9em;
        text-transform: uppercase;
        font-weight: 700;
        margin: 0 0 1em 0;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    select,
    textarea {
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        appearance: none;
        border-radius: 0;
        border: none;
        border: solid 3px;
        color: inherit;
        display: block;
        outline: 0;
        padding: 0 1em;
        text-decoration: none;
        width: 100%;
    }

    .select-wrapper {
        text-decoration: none;
        display: block;
        position: relative;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    select {
        height: 2.75em;
    }

    textarea {
        padding: 0.75em 1em;
    }

    input[type="checkbox"],
    input[type="radio"] {
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        appearance: none;
        display: block;
        float: left;
        margin-right: -2em;
        opacity: 0;
        width: 1em;
        z-index: -1;
    }

    input[type="checkbox"] + label,
    input[type="radio"] + label {
        text-decoration: none;
        cursor: pointer;
        display: inline-block;
        font-size: 1em;
        font-weight: 300;
        padding-left: 2.4em;
        padding-right: 0.75em;
        position: relative;
    }

    label {
        color: #e5474b;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    select,
    textarea {
        background: none;
        border-color: #fceced;
    }

    /* List */

    li{
        margin: 0;
        border: 0;
        font: inherit;
    }
    ol {
        list-style: decimal;
        margin: 0 0 2em;
        padding-left: 1.25em;
    }

    ol li {
        padding-left: 0.25em;
    }

    ul {
        list-style: disc;
        margin: 0 0 2em;
        padding-left: 1em;
    }

    ul li {
        padding-left: 0.5em;
    }

    ul.alt {
        list-style: none;
        padding-left: 0;
    }

    ul.alt li {
        border-top: solid 1px;
        padding: 0.5em 0;
    }

    ul.alt li:first-child {
        border-top: 0;
        padding-top: 0;
    }

    ul.actions {
        cursor: default;
        list-style: none;
        padding-left: 0;
    }

    ul.actions li {
        display: inline-block;
        padding: 0 1em 0 0;
        vertical-align: middle;
    }

    ul.actions li:last-child {
        padding-right: 0;
    }

    ul.alt li {
        border-top-color: #e5474b;
    }
}
/* Section/Article */

section .inner {
    max-width: 65em;
    width: calc(100% - 6em);
    margin: 0 auto;
    width: 100%;
}

/* Header */

#header {
    background: #1c1c1c;
    color: #d5d5d5;
    cursor: default;
    height: 5em;
    left: 0;
    line-height: 5em;
    position: fixed;
    text-align: right;
    top: 0;
    width: 100%;
    z-index: 10001;
}

@media screen and (max-width: 480px) {

    #header .inner {
        max-width: 90%;
        width: 90%;
    }

}

@media screen and (max-width: 736px) {

    #header a {
        padding: 0 0.5em;
    }

}

@media screen and (max-width: 480px) {

    #header {
        min-width: 320px;
    }

}
/* Footer */

#footer {
    background-color: #e5474b;
    color: #f2a3a5;
    padding: 4em 0em 2em 0em !important;
    background: #e5474b;
}

#footer input,
#footer select,
#footer textarea {
    color: #ffffff;
}

#footer a {
    color: #ffffff;
}

#footer h2 {
    color: #fff;

}
input[type="text"],
    input[type="password"],
    input[type="email"],
    select,
    textarea {
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        appearance: none;
        border-radius: 0;
        border: none;
        border: solid 3px;
        color: inherit;
        display: block;
        outline: 0;
        padding: 0 1em;
        text-decoration: none;
        width: 100%;
    }

#footer label {
    color: #ffffff;
}

#footer input[type="text"],
#footer input[type="password"],
#footer input[type="email"],
#footer select,
#footer textarea {
    background: none;
    border-color: rgba(255, 255, 255, 0.25);
}

#footer .inner {
    max-width: 65em;
    width: calc(100% - 6em);
    margin: 0 auto;
}

@media screen and (max-width: 480px) {

    #footer {
        padding: 2em 0 0.1em 0;
        // margin-top: 375px !important;
    }
    
    #footer .inner {
        max-width: 90%;
        width: 90%;
    }

}

#footer .copyright {
    font-size: 0.9em;
    margin: 0 0 2em;
    padding: 0;
}

#footer .copyright a {
    color: #f2a3a5;
}

@media screen and (min-width: 981px) and (max-width: 1179px) {

    #footer {
        // margin-top: 392px;
    }

}

@media screen and (min-width: 768px) and (max-width: 980px) {

    #footer {
        // margin-top: 392px;
    }

}

@media screen and (min-width: 737px) and (max-width: 767px) {

    #footer {
        padding: 4em 0 2em;
        // margin-top: 386px;
    }

}

@media screen and (min-width: 501px) and (max-width: 736px) {

    #footer {
        padding: 2em 0 0.1em 0;
        // margin-top: 386px !important;
    }
    #footer .inner {
        width: 100%;
        padding: 1em 3em 0 3em;
    }

}

@media screen and (min-width: 481px) and (max-width: 500px) {

    #footer {
        padding: 2em 0 0.1em 0;
        // margin-top: 419px !important;
    }
    #footer .inner {
        width: 100%;
        padding: 1em 3em 0 3em;
    }

}

@media screen and (max-width: 480px) {

    #footer {
        padding: 2em 0 0.1em 0;
        // margin-top: 419px !important;
    }
    #footer .inner {
        width: 100%;
        padding: 1em 3em 0 3em;
    }

}

@media screen and (max-width: 360px) {

    #footer {
        padding: 2em 0 0.1em 0;
        // margin-top: 410px !important;
    }
    #footer .inner {
        width: 100%;
        padding: 1em 3em 0 3em;
    }

}